// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    1000px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        1000px;
$on-large:         1200px;

// custom fonts
$base-font-family: 'Fira Sans', serif;
$headings-font-family: 'Alef', serif;
$code-font-family: 'Fira Code', serif;
